In [9]:
# SET-1

# Q)Look at the data given below. Plot the data, find the outliers and find out  μ,σ,σ^2

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = {'COMPANY': ['Allied Signal','Bankers Trust','General Mills','ITT Industries','J.P.Morgan & Co.','Lehman Brothers',
                    'Marriott','MCI','Merrill Lynch','Microsoft','Morgan Stanley','Sun Microsystems','Travelers','US Airways',
                    'Warner-Lambert'],
        'Measure X': [24.23,25.53,25.41,24.14,29.62,28.25,25.81,24.39,40.26,32.95,91.36,25.99,39.42,26.71,35]
       }
df = pd.DataFrame(data)

In [5]:
df

             COMPANY  Measure X
0      Allied Signal      24.23
1      Bankers Trust      25.53
2      General Mills      25.41
3     ITT Industries      24.14
4   J.P.Morgan & Co.      29.62
5    Lehman Brothers      28.25
6           Marriott      25.81
7                MCI      24.39
8      Merrill Lynch      40.26
9          Microsoft      32.95
10    Morgan Stanley      91.36
11  Sun Microsystems      25.99
12         Travelers      39.42
13        US Airways      26.71
14    Warner-Lambert      35.00

In [6]:
print(f"mean of Measure X is: {df['Measure X'].mean()}")

mean of Measure X is: 33.27133333333333

In [7]:
print(f"variance of Measure X is: {df['Measure X'].var()}")

variance of Measure X is: 287.1466123809524

In [8]:
print(f"standard devition of Measure X is: {df['Measure X'].std()}")

standard devition of Measure X is: 16.945400921222028

In [10]:
# SET - 2

In [11]:
from scipy import stats
import scipy.stats as stats
import numpy as np

# Q1)

In [12]:
mean = 45
sd = 8
time = 50
z = (time-mean)/sd

In [14]:
z

0.625

In [15]:
p = 1 - stats.norm.cdf(z)

In [16]:
p

0.26598552904870054

# Q2)

In [17]:
mean = 38
sd = 6

In [20]:
# for employee older than 44
z1 = (44-38)/6

In [21]:
z1

1.0

In [22]:
# employee age between 38 and 44
z2 = (38-38)/6

In [23]:
z2

0.0

In [24]:
print(f'probablility of employee between age 38 and 44 is {stats.norm.cdf(z1) - stats.norm.cdf(z2)}')
print(f'Probablility of employee older than age 44: {1 - stats.norm.cdf(z1)}')

probablility of employee between age 38 and 44 is 0.3413447460685429
Probablility of employee older than age 44: 0.15865525393145707

# Q4)

In [27]:
stats.norm.ppf(0.995)

2.5758293035489004

In [28]:
m = 100
s = 20
#p = 0.99
#z = 2.57
upper_limit = 2.57
lower_limit = -2.57
print(f'lower value {m+lower_limit*s} - upper value {m+upper_limit*s}')

lower value 48.6 - upper value 151.4

In [30]:
mean1 = 5
sd1 = 32
mean2 = 7
sd2 = 42
rs = 45

#p = 0.95
z = 1.96

# Q5)

In [32]:
# profit 1
mean_1 = 5
std_1 = 3

#profit 2
mean_2 = 7
std_2 = 4


dollor_rate = 45

# total
mean_total_profit = mean_1 + mean_2
std_dev_total_profit = (std_1**2 + std_2**2)**0.5

# 2.5th and 97.5th percentiles
lower_percentile = stats.norm.ppf(0.025, loc=mean_total_profit, scale=std_dev_total_profit)
upper_percentile = stats.norm.ppf(0.975, loc=mean_total_profit, scale=std_dev_total_profit)

# percentiles to Rupees
lower_rupees = lower_percentile * dollor_rate
upper_rupees = upper_percentile * dollor_rate

print(f"The 95% confidence interval for annual profit in Rupees is {lower_rupees:.2f} Rs, {upper_rupees:.2f} Rs")

The 95% confidence interval for annual profit in Rupees is 99.01 Rs, 980.99 Rs

In [33]:
# B
# 5 percentile * dollor rate
(stats.norm.ppf(0.05, loc=mean_total_profit, scale=std_dev_total_profit))* dollor_rate

169.90793393591858

In [34]:
# C

loss_div1 = stats.norm.cdf(0, loc=mean_1, scale=std_1)
loss_div2 = stats.norm.cdf(0, loc=mean_2, scale=std_2)

if loss_div1 > loss_div2:
    print("Division 1 has a larger probability of making a loss.")
elif loss_div2 > loss_div1:
    print("Division 2 has a larger probability of making a loss.")
else:
    print("Both divisions have the same probability of making a loss.")

Division 1 has a larger probability of making a loss.